.hero {
  min-height: 720px;
  &__welcome--container {
    display: none;
  }
  &__image--container {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image {
    box-sizing: content-box;
    border-radius: 50%;
    border: 16px solid #f6f9fd;
    width: 96px;
    height: 96px;
  }

  &__header {
    &--highlighted {
      color: $blue;
    }
  }
  &__paragraph--highlighted {
    color: $link;
  }
}
