.projects {
  &__header {
    @media (min-width: $tablet) {
      font-size: 48px;
      line-height: 56px;
    }
  }
  &__paragraph {
    max-width: 786px;
    margin: 0 auto;
    margin-bottom: 108px;
    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 40px;
    }
  }
  &__grid {
    display: grid;
    column-gap: 24px;
    row-gap: 24px;
    @media (min-width: $desktop) {
      grid-template-columns: 1fr 1fr;
      max-width: 1184px;
      margin: 0 auto;
    }
  }
}

.project {
  font-family: Roboto Mono;
  overflow: hidden;
  background-color: $grey;
  border-radius: 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);

  &__window {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    padding: 16px;
    background-color: $darkGrey;

    &--dot {
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: 0 8px 0 0;
      background-color: $lightGrey;
    }
  }

  &__container {
    text-align: left;
    padding: 24px 16px;
    @media (min-width: $desktop) {
      padding: 24px 48px;
      padding-bottom: 58px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 102px 1fr;
    column-gap: 8px;
    @media (min-width: $desktop) {
      grid-template-columns: 120px 1fr;
      column-gap: 4px;
    }
  }

  &__label {
    display: block;
    text-align: right;
    color: $projectLabelGray;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    @media (min-width: $desktop) {
      font-size: 16px;
    }
  }

  &__link,
  &__name,
  &__info {
    font-size: 13px;
    line-height: 24px;
    @media (min-width: $desktop) {
      font-size: 16px;
    }
  }

  &__info {
    @media (min-width: $desktop) {
      margin-bottom: 24px;
    }
  }

  &__link {
    color: $linkTurquoise;
  }

  &__name {
    color: $white;
  }

  &__info {
    color: $projectInfoGrey;
  }
}
