.skills {
  background-color: $blue;
  color: $white;
  &__grid {
    @media (min-width: $desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1184px;
      margin: 0 auto;
   
    }
  }

  &__header {
    color: $white;
    line-height: 48px;
    font-size: 36px;
    margin: 0 auto;
    @media (min-width: $tablet) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  &__section {
    padding: 2px;
    max-width: 427px;
    margin: 0 auto;
  }
  &__title {
    font-size: 24px;
    line-height: 44px;
    margin: 0 auto 8px auto;
  }
  &__title--emoji {
    display: block;
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 16px;
    margin-top: 64px;
  }
}

ul {
  width: 288px;
  margin: 24px auto 0px auto;
  padding-inline-start: 22px;
}

.skills__item--know::marker {
  content: "✔    ";
  color: #06c847;
}

.skills__item--something::marker {
  content: "✔    ";
  color: $white;
}

.skills__item--toLearn::marker {
  color: $white;
}

li {
  width: 255px;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0px;
}
