@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono:wght@400;700&display=swap");
@import "_variables";
@import "modules/hero.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Nunito, sans-serif;
  color: $deafult;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #234361;
}

.email__button {
  display: block;
  width: 278px;
  height: 48px;
  line-height: 48px;
  border-radius: 64px;
  text-align: center;
  background: $link;
  color: $white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin: 48px auto;
}

main > section {
  padding: 64px 16px 88px 16px;
}

